<html>
    <head>
        <title>Media Center</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        <script src="http://www.youtube.com/player_api"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    </head>
    <div class="currentSong" id="player"></div>
    <br/>
    <div class="songs">
        {% for song in songs %}
        <a href="/{{ loop.index - 1}}">{{ song['name'] }} - {{ song['artist'] }}</a>
        <hr/>
        {% endfor %}
    </div>

    <div class="add">
        <form method="POST">
            <input type="text" name="name" placeholder="Song Title"/><br/>
            <input type="text" name="artist" placeholder="Song Artist"/><br/>
            <input type="text" name="url" placeholder="Youtube URL"/><br/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
        <script>
       var player;
var index = 0;
var numberOn = {{ number | safe}}['number'];
var songs = {{ jsSongs | safe}}['data'];
function onYouTubePlayerAPIReady() {
     
    if (numberOn) {
        
        generatePlayer()
    
    }

    }

    // autoplay video
function onPlayerReady(event) {
        event.target.playVideo();
    }

    // when video ends
function onPlayerStateChange(event) {        
        if(event.data === 0) {            
            numberOn = parseInt(numberOn) + 1;
            if (numberOn === songs.length) {
                numberOn = 0;
            }
            window.location = "/"+numberOn;
}
    } 
        

function generatePlayer() {

        return player = new YT.Player('player', {
          height: '600',
          width: '800',
          videoId: songs[numberOn]['videoid'],
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        }); 

}        

        </script>
    
    </html>
